confirmModulesPurge=false
auto-install-peers=true
enable-pre-post-scripts=true
only-built-dependencies=["@prisma/client", "@prisma/engines", "@scarf/scarf", "bcrypt", "esbuild", "msgpackr-extract", "prisma", "sharp", "unrs-resolver"]

