# Node Environment
NODE_ENV=development
# NODE_ENV=production

# Frontend URLs
NEXT_PUBLIC_LOCAL_FRONTEND_URL=http://localhost:3000
NEXT_PUBLIC_SERVER_FRONTEND_URL=https://yourdomain.com

# Backend API URLs
NEXT_PUBLIC_LOCAL_BACKEND_URL=http://localhost:5001/api/v1
NEXT_PUBLIC_SERVER_BACKEND_URL=https://api.yourdomain.com/api/v1
