# Database connection string (PostgreSQL)
DATABASE_URL="postgresql://user:password@localhost:5432/dbname"

# Backend Port
PORT=5001

# Allowed Frontend Client URL (for CORS)
CLIENT_URL=http://localhost:3000
