name: 03 Matrix Strategies

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  test-server:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [18.x, 20.x, 22.x]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 9

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"
          cache-dependency-path: "./server/pnpm-lock.yaml"

      - name: Install Dependencies
        working-directory: ./server
        run: pnpm install --frozen-lockfile

      - name: Run Tests
        working-directory: ./server
        run: pnpm test
