name: Mayank

on:
    push:
        branches: [main]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Install Dependencies
              run: npm install

            - name: Build
              run: npm run build

            - name: Upload Build Artifact
              uses: actions/upload-artifact@v4
              with:
                  name: my-build-artifact
                  path: .next/
                  if-no-files-found: warn
                  retention-days: 1

    unit-tests:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Install Dependencies
              run: npm install

            - name: Run Unit Tests
              run: npm test
