name: Integration Tests

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 9

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18"
          cache: "pnpm"
          cache-dependency-path: "**/pnpm-lock.yaml"

      - name: Install Client Dependencies
        working-directory: ./client
        run: pnpm install --frozen-lockfile

      - name: Install Server Dependencies
        working-directory: ./server
        run: pnpm install --frozen-lockfile

      - name: Run Server Tests
        working-directory: ./server
        run: pnpm test --if-present
